@model List<NetCoreDbAzure.Logic.Task>
@{
    ViewData["Title"] = "Index";
}

<h2>Todos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Description
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>